@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Система управління рибами та акваріумами</h1>
    <p class="lead">Вітаємо у веб-застосунку для управління базою даних риб</p>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Управління рибами</h5>
                <p class="card-text">Перегляд, створення, редагування та видалення риб у базі даних</p>
                <a href="/Fishes" class="btn btn-primary">Перейти до риб</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Управління акваріумами</h5>
                <p class="card-text">Перегляд, створення, редагування та видалення акваріумів</p>
                <a href="/Aquariums" class="btn btn-primary">Перейти до акваріумів</a>
            </div>
        </div>
    </div>
</div>
